/* styling of the card and the greeting text. */

.card {
  width: auto;
  margin: 30px;
}

.card-title {
  font-size: 30px;
  background-color: beige;
}

.card-body {
  background-color: aquamarine;
}

.greeting-text {
  background-color: cyan;
  text-align: center;
  font-weight: bold;
}